/* .hole {
    width: 100px;
    height: 100px;
    border: 2px solid #ffffff;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    cursor: pointer;
} */
