body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.menu-container, .login-container { /* Apply styles to both .container and .login-container */
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    border: 1px solid #000;
}

.menu-container {
    max-width: 500px;
    height: 300px;
}

.login-container {
    width: 300px;
}

.menu-container p {
    font-size: 24px;
    font-weight: bold;
    background-color: #FCA50E;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
}

.login-container input[type="email"], .login-container input[type="password"] {
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 280px;
}

.input-container {
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 280px;
}

.login-button {
    background-color: #4FA190;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}

.play-game-button {
    display: block;
    width: 490px;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #4FA190;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.small-indice-button {
    display: block;
    width: 100px;
    height: auto;
    padding: 15px 20px;
    margin-bottom: 5px;
    background-color: #4FA190;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* This ensures the logo takes available horizontal space */
}

.nav-bar-container {
    background-color: #ffffff;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    padding: 0 20px; /* Optional padding to add space between the logo and buttons */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Optional: CSS to style the buttons and logo container */
.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-left: auto;
}



.container-settings {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    max-width: 700px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the content horizontally */
    position: fixed;
    right: 0; /* Position the container to the right */
    top: 50%; /* Center the container vertically */
    transform: translateY(-50%);
    margin-right: 100px;
    margin-bottom: auto;
    margin-top: auto;
}

.container-settings h1 {
    font-size: 24px;
    font-weight: bold;
    background-color: #FCA50E;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
}

.container-settings p1 {
    font-size: 18px;
    margin-top: 0;
}

.container-settings p {
    font-size: 18px;
    margin-top: 0;
}

.gametypeselection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 20px;
    border-radius: 100px;
}

.gameBoard {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    max-width: 700px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the content horizontally */
    position: fixed;
    right: 0; /* Position the container to the right */
    top: 50%; /* Center the container vertically */
    transform: translateY(-50%);
    margin-right: 100px;
    margin-bottom: auto;
    margin-top: auto;
}